<div class="row">
    <div class="card col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align">
                <h3>Payment details</h3>
            </div>
            <form class="col s12 white" #PaymentCardForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="CreditCardNumber" #CreditCardNumber="ngModel" [(ngModel)]="card.CreditCardNumber" required>
                        <label data-error="Required Filed!"> Credit Card Number</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="CardHolder" #CardHolder="ngModel" [(ngModel)]="card.CardHolder" required>
                        <label data-error="Required Filed!"> Card Holder</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="month" class="validate" name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="card.ExpirationDate" required>
                        <label data-error="Required Filed!"></label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="SecurityCode" #SecurityCode="ngModel" [(ngModel)]="card.SecurityCode" minlength="3">
                        <label data-error="Max 3 digits!"> Security Code</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="Amount" #Amount="ngModel" [(ngModel)]="card.Amount" required>
                        <label data-error="Required Filed!"> Amount </label>
                    </div>
                </div>
                <div class = "row">
                    <div class="input-field col s12">
                        <button (click)="postData()" class="btn-large btn-submit" [disabled]="!PaymentCardForm.valid" type="submit">Submit</button>
                        <p> {{result}} </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

