/* You can add global styles to this file, and also import other style files */
.card{
    margin-top:20px;
}
div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #38547b;
    color: white;
    font-family:georgia,garamond,serif;
}

button.btn-submit {
    background-color: #38547b;
    color: white;
    width: 100%;
}

button.btn-submit:focus,button.btn-submit:hover{
    background-color:#38547b;
}

input.ng-invalid.ng-dirty {
    border-bottom-color: #e91e63 !important;
}